.container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;  
}



.header {
    height: 150px;
    background-color: rgb(77, 106, 145);
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    padding-top: 50px;
}

    
